# Jekyll build artifacts
_site/
.jekyll-cache/
.jekyll-metadata

# Dependency directories
node_modules/
vendor/bundle/

# Temporary files
*.gem
*.rbc
*.sass-cache
.sass-cache/
*~
.DS_Store

# If you build locally sometimes
Gemfile.lock
